<div class="d-flex justify-content-center flex-column">
  <% if (success?.length) { %>
  <div class="alert alert-success text-center"><%= success %></div>
  <% } %>
  <h1>Trang chủ</h1>

  <p>Chào bạn: <%= userInfor?.name %></p>

  <div class="mb-3">
    <a href="/users/info">Thông tin cá nhân</a>
  </div>

  <div class="mb-3">
    <a href="/users/password">Đổi mật khẩu</a>
  </div>

  <form action="/auth/logout" method="post">
    <button class="btn btn-primary">Đăng xuất</button>
  </form>
</div>
